.create-user-text{
    display:inline-block;
    width: 40%;
    min-width: 345px;
}
.create-user-container{
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.create-user-text-title{
    color: var(--orange);
    font-size: 46px;
    font-family: Roboto Slab;
    font-weight: bold;
    display: block;
}
.create-user-text-title span{
    color: var(--darkgrey);
}
.create-user-page-text{
    margin-top: 30px;
    font-size: 20px;
    font-family: Roboto Slab;
    color:var(--midgrey);
    margin-right: 50px;
}

.create-user-page-form{
    max-width: 630px;
    padding-left: 50px;
}