.recipe-strip{
    width: 100%;
    height: 61px;
    background: var(--white);
    box-sizing: border-box;
    margin-bottom:5px;
    border-radius: 5px;
    padding: 20px 30px;
    font-size:var(--large);
    color: var(--midgrey);
    font-family: Roboto;
    font-weight: bold;
    position: relative;
}
.recipe-strip:hover{
    cursor: pointer;
}
.recipe-strip-category{
    font-family: Roboto Slab;
    font-weight: var(--font-weight-bold);
    font-size:var(--font-size-small);
    display: inline-block;
    text-align: center;
    top: 20px;
    left:36px;
    width: 80px;
    text-transform: uppercase;
    color:var(--white);
    background: var(--green);
    padding: 3px 11px;
    border-radius: 5px;
    line-height: 19px;
    margin-right: 125px;
    margin-left: 20px;
}
.recipe-strip-title{
    width: 250px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
.recipe-strip-btn{
    width: 41px;
    height: 41px;
    display:flex;
    float: right;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}
.recipe-strip-btn:hover{
    cursor: pointer;
}